# Środowisko wirtualne
venv/
env/

# Media
media/

# Cache Pythona
__pycache__/
*.pyc

# Baza danych (na start SQLite, potem podmienisz na PostgreSQL)
db.sqlite3

# Zmienne środowiskowe (hasła, sekrety)
.env

__pycache__/
*.sqlite3
node_modules/