# Środowisko wirtualne
venv/
env/

# Media
media/

# Cache Pythona
__pycache__/
*.pyc

# Baza danych (na start SQLite, potem podmienisz na PostgreSQL)
db.sqlite3

# Zmienne środowiskowe (hasła, sekrety)
.env

__pycache__/
*.sqlite3
node_modules/

# Ignore media files in frontend/public
frontend/public/*.jpg
frontend/public/*.jpeg
frontend/public/*.png
frontend/public/*.webp
frontend/public/*.mp4
frontend/public/*.mov
frontend/public/*.webm